html {
scroll-behavior: smooth;

}


.flex{
    display: flex;
    justify-content:space-between;
    align-items: center;
    align-items:flex-start
    /* background-color: antiquewhite; */
/*  background-color: rgb(231, 222, 222);  */


}

#text-link {
    color: rgb(255, 200, 0);
}


.svg_code{
    color: rgb(255, 200, 0);
}


.svg-container
h2{
    font-size: 20px;
    text-align: left;
    
}

.svg-container:hover path,
.svg-container:hover circle {
    stroke: rgb(0, 0, 0); /* Цвет при наведении для SVG */
}

.svg-container path,
.svg-container circle {
    transition: stroke 0.3s ease; /* Плавный переход цвета */
}

/* Новый CSS код для текстового элемента "THEY'LL SEE." */
#text-link {
    color: rgb(255, 200, 0); /* Установим начальный цвет как у соседних элементов */
    text-decoration: none; /* Уберем подчеркивание */
    transition: color 0.3s ease; /* Плавный переход цвета */
}

#text-link:hover {
    color: rgb(0, 0, 0); /* Цвет текста при наведении */
}



/* Остальной существующий CSS код */

p{
    font-size: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.change-color {
    color: rgb(255, 200, 0); /* начальный цвет текста */
    text-decoration: none; /* убираем подчеркивание ссылки */
}

.change-color:hover {
    color: black; /* цвет текста при наведении */
}


p1{
    position:absolute;
    font-size: 50px; ;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 25vw;
    color: rgb(255, 200, 0);
    margin-left: 40vw;


}





body{
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 50px; ;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 200, 0);


}
section{
   padding: 2rem;
   margin: 1rem;
   position: relative;

}


.red{
    /* background-color: rgb(159, 150, 150); */
    color: rgb(0, 0, 0);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 17px;
    width: 5rem;
    padding: 1rem;
    flex-basis: 50rem;
    text-align: left;
    margin: 0rem;
}

.text-sainte{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 5rem;
    font-size: 4.5vw;
    padding: 1rem;
    flex-basis: 50rem;
    text-align: left;
    margin: 0rem;
    color: rgb(255, 200, 0);
}


/* .big{
    flex: grow 7;
    grid-row-start: 2;
} */


/*
section{
    background-color:lightgrey;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

} */

/* #grid{
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
 */

.absolute
{position: absolute;
top: 3rem;
left: 3rem;}



.gif{
    width: 100vw;
    height: auto;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;


}


.img1{
    width: 30vw;
    height: auto;
    transition: opacity 0.5s ease-in-out;




  /* border-radius: 50%; */
}

.image-container {
    position: relative;
    width: 30vw;}

.image-container-trio {
    position: relative;
    width: 30vw;
    margin: 10px; /* adjust distance between images */
}


/*.image-container-trio img {*/
/*    width: 100%;    !* make width responsive *!*/
/*    height: auto;   !* keep aspect ratio *!*/
/*    display: block; !* remove extra space below image *!*/
/*}*/
    .img1{
    width: 100%;
    height: auto;
    transition: opacity 0.5s ease-in-out;}
    .pfeil {
        width: 100%; /* Изображения занимают всю ширину контейнера */
        height: auto;
        transition: opacity 0.5s ease-in-out;
    }

    .pfeil {
    position: absolute;
    top: 87.5%;;
    left: 7%;
    width: 20%;    /* Регулируйте размеры и позицию по вашему усмотрению */
    height: auto;
    opacity: 0; /* Прозрачность наложенного изображения */
    }

    .image-container-trio:hover .pfeil,
.image-container-trio:hover .text-overlay {
    opacity: 1;
}
.img1:hover{
            opacity: 60%;
}

.text-overlay {
    position:absolute;
    top: 50%;
    left: 7%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    font-size: 4vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 200, 0);
    text-align:left;
}

.image-container-trio:hover .img1 {
    opacity: 0.6;
}

.image-container-trio:hover .text-overlay {
    opacity: 1;
}

.img2{
    width: 100%;
    height: auto;
  mix-blend-mode:darken;
  mix-blend-mode:luminosity;
  transition: opacity 0.5s ease-in-out;
  /* border-radius: 50%; */
}

.img2:hover{
    opacity: 60%;
}

.image-container2 {
    position: relative;
    width: 30vw;}

    .img1 {
        width: 100%; /* Изображения занимают всю ширину контейнера */
        height: auto;
        transition: opacity 0.5s ease-in-out;
    }


    .image-container-trio:hover ,
.image-container-trio:hover .text-overlay {
    opacity: 1;
}


.text-overlay2 {
    position:absolute;
    top: 10%;
    left: 7%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    font-size: 4vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 200, 0);
    text-align:left;
}

.image-container-trio:hover .img2 {
    opacity: 0.6;
}

.image-container-trio:hover .text-overlay2 {
    opacity: 1;
}

.img3{
    width: 100%;
    height: auto;
  transition: opacity 0.5s ease-in-out;
  /* border-radius: 50%; */
}
.img3:hover{
    opacity: 60%;
}
.image-container3 {
    position: relative;
    width: 30vw;}

.text-overlay3 {
    position:absolute;
    top: 45%;
    left: 7%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    font-size: 4vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 200, 0);
    text-align:left;
}
.image-container-trio:hover .img3 {
    opacity: 0.6;
}

.image-container-trio:hover .text-overlay3 {
    opacity: 1;}


.img4{
    width: 30vw;
    height: auto;
    transition: opacity 0.5s ease-in-out;
    margin-right: 20px;

  /* border-radius: 50%; */
}
.img4:hover{
    opacity: 60%;
}

.image-container4 {
    position: relative;
    width: 30vw;}

    .img4, .pfeil4 {
        width: 100%; /* Изображения занимают всю ширину контейнера */
        height: auto;
        transition: opacity 0.5s ease-in-out;
    }
.pfeil4 {
    position: absolute;
    top: 90%; /* переводим в проценты, чтобы сохранить адаптивность */
    left: 7%;
    width: 20%;
    height: auto;
    opacity: 0;
}

    .image-container:hover .pfeil4,
.image-container:hover .text-overlay {
    opacity: 1;
}

.text-overlay4 {
    position:absolute;
    top: -10%;
    left: 7%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    font-size: 4vw; /* adjust as per your needs */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 200, 0);
    text-align:left;

}
.image-container:hover .img4 {
    opacity: 0.6;
}

.image-container:hover .text-overlay4 {
    opacity: 1;}


    .text-overlay5 {
        font-size: 16px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: rgb(255, 200, 0);
        text-align:left;

    }

.img5{
    width: 30vw;
    height: auto;
  mix-blend-mode:darken;

  /* border-radius: 50%; */
}
.img5:hover{
    opacity: 60%;
}
.img6{
    width: auto;
    height: 30vw;
  mix-blend-mode:luminosity;
  /* border-radius: 50%; */
}

.img6:hover{
    opacity: 60%;
}

/* #Hintergrundbild {
    height: 50vh;
    background-image: url(shar.jpeg),linear-gradient(blue, orange);
    background-blend-mode:luminosity ;
    background-size: 200px;
    transition: 3s;

}

#Hintergrundbild:hover {
    background-size: 10px;
}

.svgbig {
    width: auto;
top: 3rem;
left: 3rem;
}
#svg_Hintergrundbild {

    #svg_Hintergrundbild:hover {
        background-size: 10px;}


        svg {
            transition:transform 3s ease-in-out;
        }
        svg:hover{
            transform: rotate(360deg);
        }

        rect{

    fill: orange;
        }

        svg:hover rect{
            fill: black;
        }


} */


@media screen and (max-width: 700px) {
    /* здесь будут CSS-правила для экранов меньше 700px */
}

@media screen and (max-width: 768px) {
    body {
        font-size: 18px;
    }

    /* Вы можете изменить структуру flex на column для удобного отображения на маленьких экранах */
    .flex {
        flex-direction: column;
    }
}
